@font-face {
  font-family: 'FonteLogo';
  src: url('~/assets/fonts/fonte-logo.ttf') format('ttf');
}

body {
  font-family: Gabarito, sans-serif;
  font-weight: 400;
  background-color: #262626;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  justify-content: center;
}